.icon-1529571480846{background-image: url('../../sprite.png');background-position: 0pxpx -842pxpx;width:1343px;height:421px;}
.icon-1529571480848{background-image: url('../../sprite.png');background-position: 0pxpx 0pxpx;width:1346px;height:421px;}
.icon-1529571480851{background-image: url('../../sprite.png');background-position: 0pxpx -421pxpx;width:1344px;height:421px;}
.icon-1529571507465{background-image: url('../../sprite.png');background-position: -797pxpx -1825pxpx;width:796px;height:426px;}
.icon-1529571531515{background-image: url('../../sprite.png');background-position: -1593pxpx -1825pxpx;width:794px;height:422px;}
.icon-1529571531516{background-image: url('../../sprite.png');background-position: 0pxpx -1263pxpx;width:797px;height:562px;}
.icon-1529571785206{background-image: url('../../sprite.png');background-position: 0pxpx -1825pxpx;width:797px;height:430px;}
.icon-1529571812994{background-image: url('../../sprite.png');background-position: -1575pxpx -2255pxpx;width:784px;height:380px;}
.icon-1529571848979{background-image: url('../../sprite.png');background-position: 0pxpx -2255pxpx;width:776px;height:433px;}
.icon-1529571848980{background-image: url('../../sprite.png');background-position: 0pxpx -2688pxpx;width:801px;height:315px;}
.icon-1529571881802{background-image: url('../../sprite.png');background-position: -776pxpx -2255pxpx;width:799px;height:396px;}
.icon-1529571907660{background-image: url('../../sprite.png');background-position: -2918pxpx 0pxpx;width:798px;height:370px;}
.icon-1529571907661{background-image: url('../../sprite.png');background-position: -797pxpx -1263pxpx;width:798px;height:503px;}
.icon-1529571941452{background-image: url('../../sprite.png');background-position: -1346pxpx 0pxpx;width:801px;height:574px;}
.icon-1529571962187{background-image: url('../../sprite.png');background-position: -1346pxpx -574pxpx;width:796px;height:571px;}
.icon-1529571962197{background-image: url('../../sprite.png');background-position: -2147pxpx 0pxpx;width:771px;height:570px;}
